a {
    color: white;
    text-decoration: none;
}

ul {
    margin: 0;

}

html {
    background-color : #FA8072;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

/*header css*/

.header {
    display: flex;
    list-style: none;
    border-bottom: white solid 1px;
}

.logo {
    height: 10rem; 
    width: 10rem;
    padding: 0.625rem;
}

.logo-small {
    height: 3.5rem; 
    width: 3.5rem;
    margin-left: 0.25rem;
    margin-top: 0.25rem;
    margin-right: 0.025rem;
}

.ml {
    display: flex;
    justify-content: space-between;
    padding: 0.625rem;
    font-family: 'Roboto', sans-serif;


}

.name-logo { 
    display: flex;
    justify-content: center;
}

.nav {
    display: flex; 
    justify-content: center;
    padding: 0.625rem;
}


/*content css*/




.name {
    font-family: 'Lobster', cursive;
    font-size: 8rem;
    color: white;
    margin: 0.625rem;
    text-align: center;
}

.name-small {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    color: white;
    margin: 0.625rem;
    text-align: left;
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    
}

.portfolio-grid img {
    margin: 12px;
}



.section-content {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-main {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

}

.statement { 
    color: white; 
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 1.5rem;
    text-align: center;
}

/*footer*/

.button {
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    padding: 12px;

}

.button:hover {
    background-color: #fcc6c0;
    color: white;
  }
  .button-flex {
    display: flex;
  }


.footer {
    display: flex;
    justify-content: center;
}
