a {
    color: white;
    text-decoration: none;
}

ul {
    margin: 0;

}

html {
    background-color : #FA8072;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

/*header css*/

.header {
    display: flex;
    list-style: none;
    border-bottom: white solid 1px;
}

.logo {
    height: 7rem; 
    width: 7rem;
    padding: 0.625rem;
    margin: auto;
}

.logo-small {
    height: 3.5rem; 
    width: 3.5rem;
    margin-left: 0.25rem;
    margin-top: 0.25rem;
    margin-right: 0.025rem;
}

.ml {
    display: flex;
    justify-content: space-between;
    padding: 0.625rem;
    font-family: 'Roboto', sans-serif;


}

.name-logo { 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nav {
    display: flex; 
    justify-content: center;
    padding: 0.625rem;
}


/*content css*/

.contact {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    list-style: none;
    padding-inline-start: 0;
    
}

.contact-pad {
    padding: 0.625rem;
}

.page-title {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    color: white;
    padding-left: 0.625rem;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.625rem;
}

.icon-wide {
    height: 1.5rem;
    width: 1.8rem;
    margin-right: 0.625rem;
}

.name {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    color: white;
    margin: 0.625rem;
    text-align: center;
}



.name-small {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    color: white;
    margin: 0.625rem;
    text-align: left;
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    
}

.portfolio-grid img {
    margin: 12px;
}



.section-content {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-main {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

}

.statement { 
    color: white; 
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
}

.about-statement { 
    color: white; 
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 1rem;
    text-align: left;
}



/*footer*/

.button {
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    padding: 12px;

}

.button:hover {
    background-color: #fcc6c0;
    color: white;
  }
  .button-flex {
    display: flex;
  }


.footer {
    display: flex;
    justify-content: center;
}

/**responsive design on any screen size greater than 1024px**/
@media (min-width: 1024px) {
    .name {
        font-size: 8rem;
    }
    .name-logo {
        display: flex;
        flex-direction: row;
    }
    .logo {
    height: 10rem; 
    width: 10rem;
    padding: 0.625rem;

    }
    .statement { 
        color: white; 
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        padding: 1.5rem;
        text-align: center;
    }
    .about-statement { 
        color: white; 
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        padding: 1.5rem;
        text-align: left;
        justify-content: center;
    }

    .page-title {
        font-family: 'Lobster', cursive;
        font-size: 4rem;
        color: white;
    }

    .contact {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        list-style: none;
        
    }
}